@using TelerikBlazorAppTestChart.Components.Common
@inject IJSRuntime JSRuntime

<style>

</style>

<div id="@("main-splitter-container-" + ElementId)" class="main-splitter-container">
    <div class="main-split-pane splitter-container clusters-pane" id="@("clusters-container-" + ElementId)">
        <ClustersComponent @ref="ClustersComponent"></ClustersComponent>
    </div>
    <div class="main-split-pane chart-pane" id="@("chart-container-" + ElementId)">
        @* <TelerikStackLayout Class="chart-wrapper-wrapper" Height="@(ChartPaneHeight + "px")"> *@
        <TelerikStackLayout Class="chart-wrapper-wrapper" Height="@Constants.VIEWPORT_HEIGHT_SIZE">
            <TelerikStackLayout Class="chart-wrapper" Width="@(ChartPaneFullWidth + "px")">
                <div>
                    <ChartComponent @ref="ChartComponent"></ChartComponent>
                </div>
            </TelerikStackLayout>
        </TelerikStackLayout>
    </div>
    <div class="main-split-pane quotes-pane" id="@("quotes-container-" + ElementId)">
        <QuotesComponent @ref="QuotesComponent"></QuotesComponent>
    </div>
</div>

@code{
    [Parameter]
    public string ElementId { get; set; } = string.Empty;

    string gridsizestting => gridsize.ToString() + "%";
    int gridsize = 47;

    private ClustersComponent ClustersComponent { get; set; }
    private ChartComponent ChartComponent { get; set; }
    private QuotesComponent QuotesComponent { get; set; }

    private string ChartOffset { get; set; } = "0px";
    private int ChartPaneFullWidth { get; set; } = 0;
    private int ChartPaneWidth { get; set; } = 0;
    private int ChartPaneHeight { get; set; } = 0;

    private class ChartSize
    {
        public int Width { get; set; }
        public int Height { get; set; }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            // Get the actual pixel size of the chart-pane
            // var dimensionsRoot = await JSRuntime.InvokeAsync<ChartSize>("getElementSizeById", [$"main-splitter-container-{ElementId}"]);
            var dimensionsChartPane = await JSRuntime.InvokeAsync<ChartSize>("getElementSizeById", [$"chart-container-{ElementId}"]);
            // var dimensionsChartWrapper = await JSRuntime.InvokeAsync<ChartSize>("getElementSizeByClass", ["chart-wrapper"]);
            // ChartPaneFullWidth = dimensionsRoot.Width;
            ChartPaneFullWidth = (int) Constants.DEFAULT_CHART_FULL_WIDTH;
            ChartPaneWidth = dimensionsChartPane.Width;
            // ChartPaneHeight = dimensionsChartWrapper.Height;

            // await JSRuntime.InvokeVoidAsync("initWindowsComponent");
            StateHasChanged();
        }
    }

    public static System.Timers.Timer CreateTimerAndStart(Action method, int ms, bool repeat = true)
    {
        var timer = new System.Timers.Timer(ms) { AutoReset = repeat };
        timer.Elapsed += (s, e) =>
        {
            method?.Invoke();
        };
        timer.Start();
        return timer;
    }

    #region Chart adjustment
    private void PlusSize(MouseEventArgs obj)
    {
        gridsize += 2;
        StateHasChanged();
    }

    private void MinusSize(MouseEventArgs obj)
    {
        gridsize -= 2;
        StateHasChanged();
    }

    private void TurnOnOff()
    {
        ChartComponent.TurnOnOff();
    }
    #endregion
}